HomeInventory/.vs/HomeInventory/v17/.futdcache.v2
HomeInventory/.vs/HomeInventory/v17/.suo
HomeInventory/.vs/HomeInventory/v17/DocumentLayout.backup.json
HomeInventory/.vs/ProjectEvaluation/homeinventory.metadata.v9.bin
HomeInventory/.vs/ProjectEvaluation/homeinventory.projects.v9.bin
HomeInventory/.vs/ProjectEvaluation/homeinventory.strings.v9.bin
HomeInventory/.vs/HomeInventory/v17/.suo
HomeInventory/.vs/HomeInventory/v17/.suo
